
<div id="wrap">
	<h1 id="title" >Are you a narcissist?</h1>

	<div class="form">

	<%= form_tag post_path, :class => "form" do  %>
		<%= text_field_tag :handle, nil, :placeholder => "enter_twitter_handle" %>
		<%= submit_tag(" find out ") %>
	<% end %>

	</div>

	   <div class="overlay overlay-hugeinc">
      <button type="button" class="overlay-close">Close</button>
      <nav>
          <h2>This app scans your tweets and uses a simple algorithm to determine how narcissistic you are. </h2>
          <h4><small>Created by <a href="http://www.twitter.com/mitchellhart">Mitchell Hart</a> and <a href="https://github.com/AnnaErshova">Anna Ershova</a></small></h4>
      </nav>
    </div>
<br><br><br>
	<div class="footer">
		[<a href="/topten">View Top-Ten</a>]&nbsp &nbsp &nbsp[<a id="trigger-overlay" href="#">What is this?</a>]
	</div>
</div>