<h2><u>Top 10:</u></h2>

<% @topten.each_with_index do |handle, idx| %>
  <h3> 
    <b><%=idx+1%>:</b> 
      <a href="http://twitter.com/<%=handle.name%>" target="_blank">@<%=handle.name%></a> 
    <b>score:</b> 
      <%= handle.score_f %> 
  </h3>
<%end %>


