*{
	font-family: 'Open Sans', san-serif;
}

body { 
 	padding-top: 60px; 
 	background: #212121;
 	text-align: center;
	/*background: linear-gradient(#ffe16b, #fff4c8); /* Standard syntax */
}

 h1 {
  font-size: 80px;
  color: #f3f3f3;
}

input {
	font-size: 40px;
	color: #f3f3f3;
	border-style: solid;
	border-width: 5px;
	border-color: #f3f3f3;
	background-color: #212121; 
	padding: 5px;  
	padding-left: 30px;
	padding-right: 30px;
}

label {
	font-size: 15px;
	color: #fff;
}


input[type=submit] {
    background-color: #212121;    
    /*border-color: #ccc;*/
    
}