<h1>Are you a narcissist?</h1>

<div class="form-group">

<%= form_tag post_path, :class => "form" do  %>
	<%= label_tag(:handle, "enter your twitter handle") %><br><br>
	<%= text_field_tag(:handle, "your_twitter_handle") %>
	<%= submit_tag(" find out ") %>
<% end %>
</div>

