<h2>Hi, @<%= @handle.name %></h2>

<% if @handle.score_f > 0 && @handle.score_f < 4  %>
	<h2>You are not a narcessist. Nice work.</h2>
<% elsif @handle.score_f > 5 && @handle.score_f < 7 %>
		<h2> You are kind of a narcessist. </h2>
<% elsif @handle.score_f > 7 && @handle.score_f < 11 %>
		<h2> You are a narcessist. Did you even have to ask?. </h2>
<%end  %>
<br>
<h1>Your score is <%= @handle.score_f %></h1>

<!-- <h3>visitor # <%= @handle.id %></h3> -->
